@mixin icon-arrow-down-medium{
  content: '\65';
}
@mixin icon-arrow-down-thin{
  content: '\67';
}
@mixin icon-arrow-medium-left{
  content: '\68';
}
@mixin icon-arrow-medium-right{
  content: '\69';
}
@mixin icon-arrow-thin-left{
  content: '\6c';
}
@mixin icon-arrow-thin-right{
  content: '\6d';
}
@mixin icon-calendar{
  content: '\75';
}
@mixin icon-clock{
  content: '\79';
}
@mixin icon-email-closed{
  content: '\46';
}
@mixin icon-email-letter{
  content: '\47';
}
@mixin icon-email-open{
  content: '\48';
}
@mixin icon-folder{
  content: '\4d';
}
@mixin icon-linkedin-square{
  content: '\34';
}
@mixin icon-mag{
  content: '\37';
}
@mixin icon-marker{
  content: '\38';
}
@mixin icon-minus{
  content: '\22';
}
@mixin icon-phone{
  content: '\29';
}
@mixin icon-play-round{
  content: '\2c';
}
@mixin icon-plus{
  content: '\2f';
}
@mixin icon-tags{
  content: '\e003';
}
@mixin icon-triangle-down{
  content: '\e009';
}
@mixin icon-triangle-left{
  content: '\e00a';
}
@mixin icon-triangle-right{
  content: '\e00b';
}
@mixin icon-triangle-up{
  content: '\e00c';
}
@mixin icon-twitter{
  content: '\e00e';
}
@mixin icon-facebook-square{
  content: '\e012';
}
@mixin icon-warning{
  content: '\61';
}
@mixin icon-quote-square-open{
  content: '\66';
}
